{% extends 'base.html' %}

{% block contenido %}
    <hr>
    <div class="row">
        <div class="col-md-10">

            <h4>
             <label style="font-size: 18px;color: #3071A9">Bienvenido:&nbsp;</label>

                <label style="font-size: 18px;">
                    {{ nombre.nombre | upper}}&nbsp;{{ nombre.apellido | upper}}
                </label>
            </h4>

        </div>
        <div class="col-md-2">
            <a class="btn btn-danger" href="/cerrarSesion/" >CERRAR SESION</a>
        </div>
    </div>
    <hr style="margin-top: 10px">


    <div class="row">
    {% for i in puertas %}

        <div class="col-md-4" align="center">

            <a href="/{{ i.nombre }}/"><img class="img-responsive" src="/static/img/{{ i.nombre }}.png" alt="{{ i.nombre }}"/></a>

        </div>

    {% endfor %}

    </div>

{% endblock %}